@import "/css/menu.css";

*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}

body{
    /* background-color: #FCE3FF; */
    background-image: url(/img/loon-image-original.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.header h1{
    color: #d2c4a6;
    /* text-shadow: 3px 3px 2px #5c7048; */
    font-size: 46px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
    
}

.notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #d2c4a6;
}

.note{
    /* background-color: #CDE6B5; */
    background-color: rgba(52, 25, 25, 0.3);
    padding: 16px;
    margin: 8px;
    border-radius: 20px;
    height: 300px;
    width: 240px;
    /* box-shadow: 4px 3px 5px 2px #5c7048; */
    backdrop-filter: blur(1px);
   
}

.btn{
    margin: 4px;
    padding: 4px;
    cursor: pointer;
}

.note-add {
    padding: 4px;
    margin-left: 10px;
}

.hidden {
    display: none;
}

textarea{
    outline: none;
    resize: none;
    border: 1px solid #0a7052;
    overflow: auto;
}

.note-text{
    height: 80%;
    width: 100%;
}

