*{
    margin: 0;
    padding: 0;
    block-size: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    
}

.note-header {

}

.notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.note{
    background-color: #487366;
    padding: 16px;
    margin: 8px;
    border-radius: 10px;
    height: 300px;
    width: 240px;
}

.note-action{

}

.note-add {

}

.note-edit {

}

.note-delete {

}