@import "/css/menu.css";

* {
    margin: 0;
    padding: 0;
    block-size: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url(/img/loon-image-original.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 20px;
}

.container button {
    background-color: rgba(3, 1, 1, 0.52);
    backdrop-filter: blur(2px);
    padding: 15px;
    color: #d2c4a6;
    border: none;
    font-size: 20px;
    border-radius: 20px;
}

.note-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;

}

.notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #d2c4a6;
}

.note {
    background-color: rgba(3, 1, 1, 0.52);
    padding: 16px;
    margin: 8px;
    border-radius: 20px;
    height: 300px;
    width: 240px;
    backdrop-filter: blur(2px);
    font-size: 24px;
}

.note button {
    border-radius: 0px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    padding: 4px;
}

.btn {
    margin: 4px;
    padding: 4px;
    cursor: pointer;
}

.note-add {
    padding: 4px;
    margin-left: 10px;
}

.hidden {
    display: none;
}

textarea {
    outline: none;
    resize: none;
    border: 1px solid #d2c4a6;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    color: #d2c4a6;
}

.note-text {
    height: 80%;
    width: 100%;
}